<form onsubmit="return false">
  <label for="first">Pierwsza liczba: </label>
  <input id="first" name="first" type="number" step="0.1">
  <label for="second">Druga liczba: </label>
  <input id="second" name="second" type="number" step="0.1"> 
  <button type='submit' onclick="submitSum();">Sumuj</button>
</form>
<p>Wynik: <span id="result">0</span><p>
